body {
    font-family: sans-serif;
}

#error {
    text-align: center;
    margin-top: 100px;
    color: red;
    font-size: 48px;
    position: fixed;
    width: 100%;
}

.info {
    text-align: center;
    margin-top: 23%;
    color: black;
    font-size: 48px;
    position: relative;
}

.pagenumber {
    width: 48%;
    top: 0;
    bottom:0;
    position: fixed;
    color: white;
    font-size: 48px;
}
.camera {
    width: 48%;
    top: 50px;
    bottom:0;
    position: fixed;
    color: white;
    font-size: 18px;
}

#titles {
    z-index: 10;
    position: absolute;
}
