body {
    font-family: "Dejavu Sans";
    background-color: darkgrey;
    padding:1em;
}

#error {
    text-align: center;
    margin-top: 100px;
    color: red;
    font-size: 48px;
    position: fixed;
    width: 100%;
}

.info {
    text-align: center;
    margin-top: 23%;
    color: teal; 
    font-size: 48px;
    position: relative;
}

.pagenumber {
    width: 48%;
    top: 0;
    bottom:0;
    position: fixed;
    color: white;
    font-size: 48px;
}
.camera {
    width: 48%;
    top: 50px;
    bottom:0;
    position: fixed;
    color: white;
    font-size: 18px;
}

div#titles {
    color:black;
    z-index: 10;
    position: absolute;
    cursor: pointer;
    font-variant: small-caps;
    font-size:large;
}

div.books{
    margin-bottom: 1em;
}

.books:hover {
    color: crimson;
}

div#new-book {
    font-variant: small-caps;
    border: dotted;
    border-radius: 5px;
    padding: 5px;
    padding-right: 6px;
}
   
ul#quickhelp {
    opacity: .6;
    position: absolute;
    right: 0;
    padding-right:5em;
    width: 30em;
}

li{
    margin-bottom: 1em;
}
