[Desktop Entry]
Type=Application
Name=CAMP camp capture
Comment=Interactive post-processing tool for scanned pages
Icon=scantailor
Exec=/opt/campcamcapture/campcamcapture.py
Terminal=true
Categories=Graphics;Scanning;
Keywords=scanning
