[Desktop Entry]
Type=Application
Name=CAMP camp capture
Comment=Interactive post-processing tool for scanned pages
Icon=scantailor
TryExec=scantailor
Exec="~/Desktop/campcamcapture/campcamcapture.py"
MimeType=application/x-scantailor;
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;Scanning;Qt;
Keywords=scanning;postprocessing;
StartupNotify=true
